* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: linear-gradient(145deg, #c1c4f3, #c1c4f3); 
    padding: 40px; 
    border-radius: 12px; 
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1); 
    width: 500px; 
    height: 600px; 
    transition: all 0.3s ease-in-out; 
    overflow-y: auto; 
}

.container:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); 
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px; 
    color: #333333; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); 
}


input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: auto; /* Set width to auto for smaller size */
    padding: 8px 16px; /* Reduced padding for a smaller button */
    background-color: #697dee;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    display: inline-block; /* Align to the left */
}

button:hover {
    background-color: #1b579c;
}

/* Align button to the left */
.container button {
    margin-left: 0; /* Ensure no left margin */
}


ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

li:last-child {
    border-bottom: none;
}

.delete-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #c0392b;
}
